fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px;
      font-family: Avenir;
      font-size: 14px;  }
h1 { font-size: 1.5em; margin: 10px; }
form {
  display: inline-block;
}

ul {
  list-style-type: none;
}

.board-title, .search-header, .board-header, .friend-header {
  color: #36648B;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight:bold;
  padding-top: 15px;
  padding-bottom: 10px;
}

.book, .board {
  margin: 10px;
  padding: 20px;
  border: 2px solid #36648B;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #888888;
  height: 500px;
}

.title{
  font-weight: bold;
  font-size: 18px;
  height: 45px;
  overflow: hidden;
  vertical-align: middle;
}

.filters{
  font-size: 18px;
}

#book_comment {
  height: 100px;
  width: 400px;
  resize: both;
  word-wrap: break-word;
}

.centerBlock {
                display: table;
                margin: 0 auto;
            }

.rating-info, .read-info, .image {
  padding: 5px;
}

.board-name {
  font-size: 18px;
  font-weight: bold;
}

.btn-lg {
  background-color: #36648B;
  border-color: buttonface;
  color: white;
  font-size: 14px;
}

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

