<!doctype html>
<html>
<head>
    <title>tsundoku</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <nav>
        <a id='nav_title' href="/">tsundoku</a>
        {% if 'logged_in' in session %}
            <button class='nav_btn'><a href="/logout">Log out</a></button>
            <button class='nav_btn'><a href="/create_board">Boards</a></button>
            <button class='nav_btn'><a href="/find_friends">Friends</a></button>
            <button class='nav_btn'><a href="/recommendations">Recommendations</a></button>
            <form action='/search'>
            <label for='search_field'>
            <input type="text" name="search" placeholder="Search for a book title">
            <input type="submit" id='search_btn' value="Search">
            </label>
            </form>
          </form>
        {% else %}
            <button class='nav_btn'><a href="login">Login</a></button>
            <button class='nav_btn'><a href="register">Register</a></button>
        {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class='container-fluid'>
    {% block content %} put your content here {% endblock %}
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://raw.githubusercontent.com/BinaryMuse/ngInfiniteScroll/1.0.0/build/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="../static/my_script.js"></script>
    <script type="text/javascript" src="../static/inf_scroll.js"></script>


</body>
</html>