<!doctype html>
<html>
<head>
    <title>tsundoku</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav>
        <a id='nav_title' href="/">tsundoku</a>
        {% if 'logged_in' in session %}
            <button class='nav_btn'><a href="logout">Log out</a></button>
        {% else %}
            <button class='nav_btn'><a href="login">Login</a></button>
            <button class='nav_btn'><a href="register">Register</a></button>
        {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class='container'>
    {% block content %} put your content here {% endblock %}
    </div>


</body>
</html>