{% extends 'base.html' %}
{% block content %}

<h2>{{ board_title }}</h2>

{% for book in books %}
            Title: {{ book['title'] }} <br>   
            Author: {{ book['author'] }} <br><br>
            <img src="{{ book['md_image'] }}"> <br><br>
            <button><a href="{{ book.url }}"> Buy </a></button><br><br>
            {% if book['hasread'] %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> You've read this book! <br>
            {% else %}
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span> You still need to read this book. <br>
            {% endif %}
            {% if book['rating'] %}
                Rating:
                {% for rating in range(book['rating']) %} 
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% endfor %}
            {% else %}
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Book not yet rated.
            {% endif %}
            <br> <br>
{% endfor %}

{% endblock %}