{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12 col-lg-offset-1 col-lg-10 page-holder">
<div class="board-title">
    <h2>{{ board_title }}</h2>
</div>
<div class="filters">
    <h4>Filter by</h4>
    <a href="/get_read_books?hasread=True"><button class="btn btn-outline-primary">Read</button></a>
    <a href="/get_read_books?hasread=False"><button class="btn btn-outline-primary">Unread</button></a>
    <a href="/get_read_books?hasread=NA"><button class="btn btn-outline-primary">All</button></a>
    <br>
</div>
<div class="col-xs-12 col-lg-offset-1 col-lg-10">
<div class="row masonry">
{% for book in books %}
    {% if book['date_deleted'] is none %}
    <div class="col-xs-12 col-lg-3 book item">
        <div class="book-info">
            <div class="title">
                {{ book['title'] }} <br>
            </div>
            <div class="author">
                {{ book['author'] }} <br>
            </div>
            <div class="image">
                <img class="book_image" src="{{ book['lg_image'] }}"> <br>
            </div>
            <div class='rating-info'>
                {% if book['rating'] %}
                    Rating:
                    {% for rating in range(book['rating']) %} 
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    {% endfor %}
                {% else %}
                    <div id="{{ book['asin'] }}">
                        <form method='POST'>
                            <fieldset class="rating" id="my_rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
                            </fieldset>
                                <input type="submit" class="rate_book btn btn-outline-primary" data-book-id="{{ book['book_id'] }}"value="Rate">
                        </form>
                    </div>
                {% endif %}
            </div>
            <div class="book_options row">
                <div class="col-sm-offset-1 col-sm-10">
                    <button class="btn btn-outline-primary"><a href="{{ book.url }}"><span class="glyphicon glyphicon-shopping-cart"></span></a></button>
                    {% if book['hasread'] %}
                    <span class="glyphicon glyphicon-book" aria-hidden="true" style="color:#4682B4;"></span>
                    {% else %}
                    <button class="btn btn-outline-primary mark_read" data-book-id="{{ book['book_id'] }}">
                        <span class="glyphicon glyphicon-book"></span>
                    </button>
                    {% endif %}
                    <button class="btn btn-outline-primary see_notes" data-toggle="modal" data-target="#notesModal" data-rating-id="{{ book['rating_id'] }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    <button class="btn btn-outline-primary delete-book" data-book-id="{{ book['book_id'] }}" data-board-id="{{ board_id }}"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
            <div class="recommend_this_book">
                    <button type="button" class="btn btn-primary btn-lg recommend_book"
                    data-toggle="modal" data-target="#myModal" data-book-id="{{ book['book_id'] }}">Recommend</button>
            </div>
        </div>
        </div>
        {% endif %}
{% endfor %}
</div>
</div>
</div>
</div>
<!-- RECOMMEND MODAL WINDOW -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recommendation Information</h4>
      </div>
      <div class="modal-body">
        <form action='/recommend_book', method="POST"> 
            <input type="hidden" id="book_id" name="book_id" value=''>
                <div id='friends_to_rec'>
                </div>
                <div id='recommend_notes'>
                    <p>Leave them a note about the book:</p>
                    <textarea id="book_comment" rows="20" cols="50" name="comment" placeholder="Comment"></textarea><br>
                    <input type="submit" value="Recommend!">
                </div>
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- NOTES MODAL -->
<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Notes</h4>
      </div>
      <div class="modal-body">
        <form action='/update_notes', method="POST"> 
            <input type="hidden" id="rating_id" name="rating_id" value=''>
        <div id="notes">
        </div>
            <input id="submit_button" type="submit" value="">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

