{% extends 'base.html' %}
{% block extrahead %}
<style type="text/css">
.background {
    height: 100%;
}   
</style>
{% endblock %}
{% block content %}
<div class="col-xs-12 col-lg-offset-1 col-lg-10 page-holder">
<div class="friend-header">
<h2> Search for friends</h2>
</div>


<form action='/search_friends'>
    <label for='search_field'>
    <input type="text" name="search" placeholder="Search for a friend by username or email">
    <input type="submit" value="Search">
    </label>
</form>
<div class="col-xs-12 col-lg-offset-1 col-lg-10">

{% if pending_requests|length > 0%}
<div class="row margin">
<div class="friend-header">
<h2>Requests for you</h2>
</div>

    {% for request in pending_requests %}
    <div class="friend-rep col-xs-12 col-lg-3">
        <div class="username">
            {{ request[0] }}<br><br>
            <button class="btn btn-primary"><a class="btn-text" href="/accept_friend/{{ request[1] }}">Accept</a></button>
            <button class="btn btn-primary"><a class="btn-text" href="/deny_friend/{{ request[1] }}">Deny</a></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if current_friends|length > 0 %}
<div class="row margin">
<div class="friend-header">
<h2>Your current friends</h2>
</div>

    {% for friend in current_friends %}
    <div class="friend-rep col-xs-12 col-lg-3">
        <div class="username">
            {{ friend[0] }}<br><br>
            <button class="btn btn-primary"><a class="btn-text" href="/friend_boards/{{ friend[1] }}">{{ friend[0] }}'s boards</a></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
</div>
{% endblock %}