{% extends 'base.html' %}
{% block content %}

<h2> Search for friends </h2>


<form action='/search_friends'>
    <label for='search_field'>
    <input type="text" name="search" placeholder="Search for a friend by username or email">
    <input type="submit" value="Search">
    </label>
</form>

{% if pending_relationships|length > 0%}
<h2>Pending Requests</h2>

    {% for relationship in pending_relationships %}

    Username: {{ relationship [0] }}<br>
    Status {{ relationship [2] }}<br><br>


    {% endfor %}


{% endif %}

{% endblock %}