{% extends 'base.html' %}
{% block content %}

<h2> Search for friends </h2>


<form action='/search_friends'>
    <label for='search_field'>
    <input type="text" name="search" placeholder="Search for a friend by username or email">
    <input type="submit" value="Search">
    </label>
</form>

{% if pending_relationships|length > 0%}
<h2>Requests you've sent:</h2>

    {% for relationship in pending_relationships %}

    Username: {{ relationship[0] }}<br>
    Status {{ relationship[2] }}<br><br>


    {% endfor %}


{% endif %}

{% if pending_requests|length > 0%}
<h2>Requests for you:</h2>

    {% for request in pending_requests %}
    Username: {{ request[0] }}<br>
    Status {{ request[2] }}<br><br>
    <button><a href="/accept_friend/{{ request[1] }}">Accept</a></button>
    <button><a href="/deny_friend/{{ request[1] }}">Deny</a></button><br>
    {% endfor %}

{% endif %}

{% if current_friends|length > 0 %}
<h2>Your current friends:</h2>

    {% for friend in current_friends %}
    Username: {{ friend }} <br>
    {% endfor %}

{% endif %}

{% endblock %}