{% extends 'base.html' %}
{% block content %}
<div class="board-title">
    <h2>{{ board_title }}</h2>
</div>
<div class="row">
{% for book in books %}
    <div class="col-xs-12 col-lg-3 book">
        <div class="centerBlock">
            <div class="title">
                {{ book['title'] }} <br>
            </div>
            <div class="author">
                {{ book['author'] }} <br>
            </div>
            <div class="image">
                <img src="{{ book['md_image'] }}"> <br>
            </div>
            <div class="read-info">
                <button><a href="{{ book.url }}"> Buy </a></button>
                {% if book['hasread'] %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% else %}
                    <div id="{{ book['book_id'] }}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    </div>
                {% endif %}
            </div>
            <div class='rating-info'>
                {% if book['rating'] %}
                    Rating:
                    {% for rating in range(book['rating']) %} 
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    {% endfor %}
                {% else %}
                    <p>Book currently unrated.</p>
                {% endif %}
            </div>
            <div class='notes'>
                {% if book['notes'] %}
                <b>Notes:</b> {{ book['notes'] }}
                {% endif %}
            </div>
            {% if book['book_id'] not in my_book_ids %}
            <div>
                <button type="button" class="btn btn-primary btn-lg friend_book"
                data-toggle="modal" data-target="#myModal" data-book-id="{{ book['book_id'] }}">Add book to one of my boards.</button>
            </div>
            {% endif %}
        </div>
        </div>
{% endfor %}
</div>

<!-- MODAL WINDOW -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Give us a few more details:</h4>
      </div>
      <div class="modal-body">
        <form action='/add_friend_book', method="POST"> 
            <input type="hidden" id="book_id" name="book_id" value=''>
            <p>Pick a board:</p>
            {% for board in existing_boards %}
            <input type="radio" name="board" value="{{ board.board_id }}"> {{ board.board_name }}<br>
            {% endfor %}
            Have you read this book before?
            <input type="checkbox" name="hasread" checked data-toggle="toggle" data-on="Yes" data-off="No" data-style="pretty"><br>
            If you've read the book, how would you rate it? <br>
            <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
            </fieldset> <br> <br>
            <input type="submit" value="Add book!">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}