{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12 col-lg-offset-1 col-lg-10 page-holder">
<div class="friend-header">
<h2> Find Friends </h2>
</div>

{% if friends %}
<div class="col-xs-12 col-lg-offset-1 col-lg-10">
    <form class="friend_search_form" action='/search_friends'>
        <label for='search_field'>
        <input class="new_friend_search" type="text" name="search" placeholder="Search for a friend by username or email">
        <input class="btn btn-primary" type="submit" value="Search">
        </label>
    </form>
    <p>Here are the potential friends we found for you:</p>

    {% for friend_id, friend_name in friends.iteritems() %}
    <div class="friend-rep col-xs-12 col-lg-3">
        <div class="username">
            {{ friend_name }}<br><br>
            <button class='friend_btn btn-primary'><a class="btn-text" href="/add_friend/{{ friend_id }}">Add friend</a></button>
        </div>
    </div>

    {% endfor %}

{% else %}

    <p>Hmm, we didn't find any friends with that name. Try searching again.</p>

    <form action='/search_friends'>
        <label for='search_field'>
        <input class="new_friend_search" type="text" name="search" placeholder="Search for a friend by username or email">
        <input class="btn btn-primary" type="submit" value="Search">
        </label>
    </form>
</div>
{% endif %}
</div>
{% endblock %}